* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: yellow;
}


.shape {
    width: 200px;
    height: 200px;
    background: red;
}

.container{
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    body {
        background-color: blue;
    }

    .shape {
        border-radius: 100%;
        background: rgb(9, 255, 0);
    }
}

@media screen and (min-width: 481px) and (max-width: 1025px) {
    body {
        background-color: pink;
    }

    .shape {
        height: 50px;
        background: rgb(17, 0, 255);
    }
}