*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-field{
    border: 1px solid blue;
    height: 40px;
    width: 50%;
    padding: 0 30px;
}

.cartoon{
    width: 25px;
    position: absolute;
    top: -5px;
    left: 52px;
}


.btn{
    padding: 10px;
    background-color: rgb(60, 121, 243);
    border-radius: 5px;
    color: white;
    cursor: col-resize;
    width: 50px;
    border: 1px solid black;
    
}

.btn:hover{
    background-color: rgb(13, 64, 166);
    transition: all 1s;
    width: 100px;
}